@mixin center-align-text {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}


#display{
  background-color: #15273b;
  height: 3.5rem;
  border-radius: 5px;
  margin-top: 3rem;
  @include center-align-text();
}



/* CSS Switch Bank */
$width: 60px;
$padding: 7px;
$height: $width / 2 + $padding;

.switch-wrap {
	cursor: pointer;
	background: #15273b;
	padding: $padding;
	width: $width;
	height: $height;
	border-radius: $height / 6;
	input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}
}
.switch {
	height: 100%;
	display: grid;
	grid-template-columns: 0fr 1fr 1fr;
	transition: 0.2s;
	//ICYMI, pseudo elements are treated as grid items
	&::after {
		content: '';
		border-radius: 10%;
		background: #ccc;
		grid-column: 2;
		transition: background 0.2s;
	}
}
input:checked {
	+ .switch {
		grid-template-columns: 1fr 1fr 0fr;
		&::after {
			background-color: #35cac5;
		}
	}
}
/* End Switch Bank */



